# .gitignore 
# Good for a Jupyter notebook 
# Specific directories 
**/.ipynb_checkpoints/ 
.ipynb_checkpoints/ 
**/.__pycache__
# None of those backup files from Linux/vim 
*~ 
# None of the MIcrosoft backup files 
~$* 
